/* 夜间模式 */

.dark-mode {
  filter: invert(0.86) hue-rotate(180deg);
}

/* 滚动条 */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 8px;
}

html, body {
  height: 100%;
  background: #fff;
}

#app, .el-container {
  height: 95%;
}

.el-header {
  height: 33px;
  padding: 0;
}

.el-main {
  width: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  height: 95%;
  overflow: hidden;
  border-bottom: 1px solid #EBEEF5;
}

.json-key {
  color: #792675;
}

.json-number {
  color: #0D22AA;
}

.json-string {
  color: #000000;
}

.json-boolean {
  color: #0D22AA;
}

.json-null {
  color: #666666;
}

label {
  font-weight: 500;
}

pre {
  overflow-y: auto;
  font-family: none;
}

.show-editable:hover {
  background: url(../img/pencil.svg) no-repeat top right 6px;
  background-position-y: 4px;
}

[contentEditable]:focus {
  outline: none;
  background-color: #ECF5FF;
}

[v-cloak] {
  display: none;
}

/* 表格只显示一行文字 */

.el-tooltip__popper.is-dark {
  display: none !important;
}

/* 面板标题 */

.el-collapse-item__header {
  font-weight: bold;
}

.el-tabs {
  height: 95%;
}

.el-tabs__header {
  position: fixed;
  z-index: 999;
  background-color: white;
  width: 100%;
}

.el-tabs__content {
  padding-top: 39px;
  height: 100%;
}

.el-tab-pane {
  overflow: auto;
  height: 100%;
}

#pane-preview {
  overflow-y: hidden;
}

#preview-pre {
  font-size: 15px;
  height: calc(100% - 32.7px);
  margin: 0;
  padding: 15px 0;
}

.resend {
  position: fixed !important;
  right: 80px !important;
  bottom: 80px !important;
}